:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --beige: #fff8ee;
    --blue: #0c1c6a;
    --green: #085408;
    --red: #940216;
    --orange: #dc7a03;
    --dark-green: #11393A;
    --light-yellow: #edf1c5;
    --light-purple: #e9e0f9;
    --light-pink: #fad8e8;
    --light-blue: #dde4ff;

    /* fonts */
    --h1-font: "MuseoModerno", sans-serif;
    --h2-font: "Metrophobic", sans-serif;
    --p-font: "Anonymous Pro", monospace;
}