:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --beige: #fff8ee;
    --blue: #0c1c6a;
    --green: #085408;
    --red: #940216;
    --orange: #dc7a03;
    --dark-green: #11393A;
    --light-yellow: #DCE38D;
    --light-purple: #D4C2F4;
    --light-pink: #F5B2D1;
    --light-blue: #B9C8FF;

    /* fonts */
    --h1-font: "MuseoModerno", sans-serif;
    --h2-font: "Metrophobic", sans-serif;
    --p-font: "Anonymous Pro", monospace;
}