* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

video {
    display: block;
}

main, footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    margin-top: 3rem;
}

footer p {
    line-height: 1.5rem;
}

header {
    padding: 1rem;
}

@media (min-width: 800px) {
    .nav-bar {
        margin-top: -3rem;
    }

    .nav-logo {
      display: block; /* viser logo over 799px */
    }
  
    .nav-links {
      justify-content: flex-end;
      gap: 2rem;
      width: auto;
    }

    .nav-bar-forside {
        padding: 2rem;
        margin-top: -1.55rem;
    }

    .forside-logo svg {
        margin-top: -2rem;
      }

      .forside-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .forside-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
    .portrait img {
        border-radius: 20px;
        height: auto;
    }

    .portrait {
        order: -1;
    }

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid_1-1.fit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid_1-1.fit img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .grid_1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .tema-p {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .tema-h3 {
        margin-top: 5rem;
    }

    .grid_1-1-1.fit img {
        width: auto;
        height: 95%;
    }
  }

  @media (max-width: 799px) {
    .grid_1-1-1.fit img {
        height: 90vh;
        width: auto;
    }
  }